/* Main body */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(120deg, #e5b20b, #de6e50);
  color: azure;
  font-family: 'Raleway', sans-serif;
  min-height: 100VH;

  max-width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
}

/* Header i form */

header, form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
}

header {
  gap: 20px;
  flex-direction: column;
  font-size: 2rem;
  margin: 20px 20px;
}

h5 {
  justify-content: center;
}

form input, form button{
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background-color: azure;
}

form button {
  color: #de6e50;
  background: azure;
  cursor: pointer;
  transition: all;
  min-width: 55px;
}

form button:hover {
  color: azure;
  background: #de6e50;
}

/* Wynik */
.result-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px 20px 0 20px;
  align-items: center;
}

table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  border: 1px solid;
}

thead {
  display: table-header-group;
  width: 100%;
  border: 1px solid;
}

th {
  border: 1px solid;;
}

